script(type="text/javascript", src="http://localhost:3000/socket.io/socket.io.js")
script(type="text/javascript", src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCJX7kTpKHQQnpOAihOK_miOQPMZAQjpFo&sensor=false")
link(rel="stylesheet", type="text/css", href="css/index.css")
script
    var i=0;
    var socket= io.connect("http://localhost:3000");
        socket.on('sm', function (sm){
            console.log(sm);
            drop(i++,sm[0],sm[1],sm[2])
        });

    function initialize(){
        var myOptions = {
            zoom: 6,
            navigationControl: false,
            mapTypeControl: false,
            scaleControl: false,
            streetViewControl: false,
            mapTypeId: google.maps.MapTypeId.ROADMAP
            }
        map =  new google.maps.Map(document.getElementById("map_canvas"), myOptions);
        if(navigator.geolocation) {
          browserSupportFlag = true;
          navigator.geolocation.getCurrentPosition(function(position) {
            initialLocation = new google.maps.LatLng(position.coords.latitude,position.coords.longitude);
            map.setCenter(initialLocation);
          }, function() {
            handleNoGeolocation(browserSupportFlag);
          });
        }
        else {
            browserSupportFlag = false;
            handleNoGeolocation(browserSupportFlag);
        }
    }
    function handleNoGeolocation(errorFlag) {
        if (errorFlag == true) {
            alert("Geolocation service failed.");
            initialLocation = newyork;
        } else {
            alert("Your browser doesn't support geolocation. We've placed you in Sweden.");
            initialLocation = sweden;
        }
        map.setCenter(initialLocation);
    }
    function drop(i,lon,lat,content) {
              setTimeout(function() {
                  addMarker(lon,lat,content);
              }, i * 20+500);
    }
    function addMarker(lon,lat,content) {
          //var icon;
          //icon="img/p0.png";
          var markers=[];
          var marker=new google.maps.Marker({
                        position: new google.maps.LatLng(lon,lat),
                        map: map,
                        draggable: false,
                        animation: google.maps.Animation.DROP,
                        title:"Info"
                        //icon: icon
          });
          var myOptions = {

                    disableAutoPan: true
                    ,maxWidth: 0
                    ,pixelOffset: new google.maps.Size(-30, -70)
                    ,zIndex: null
                    ,boxStyle: {
                      opacity: 0.9
                      ,width: "120px"
                      ,height: "17px"
                      ,padding:"7px 10px"
                      ,overflow:"auto"
                     }
                    ,closeBoxMargin: "-4px -5px 12px 12px"
                    ,closeBoxURL: "http://www.google.com/intl/en_us/mapfiles/close.gif"
                    ,infoBoxClearance: new google.maps.Size(1, 1)
                    ,isHidden: false
                    ,pane: "floatPane"
                    ,enableEventPropagation: false
          };
          var infowindow = new google.maps.InfoWindow({
            content:content
          });
          google.maps.event.addListener(marker, 'click', function() {
            infowindow.open(map, marker);
          });
          markers.push(marker);

    }
body(onload="initialize()")
    #map_canvas
    #left_bar