!!! 5
html(lang="en")
    head
        title Testing 123
        meta(name="viewport",content="initial-scale=1.0, user-scalable=no")
        script(type="text/javascript",src='jquery-1.7.min.js')


    body
        div!= body
