!!! 5
html(lang="en")
    head
        title Testing 123
        meta(name="viewport",content="initial-scale=1.0, user-scalable=no")
        script(src='http://code.jquery.com/jquery-1.6.1.min.js')
        script(type="text/javascript", src="http://maps.googleapis.com/maps/api/js?key=AIzaSyABQ7KzpYoVRa9eM63geCVFoBz74XajLyg&sensor=false")

    body
        div!= body
