#map_canvas {
    width: 100%;
    height: 100%;
    z-index: 0;
    position: relative;
}

#left_bar{
    position: fixed;
    bottom: 10px;
    top: 0px;

    width: 20%;
    left: 0px;
    height: 100%;
    background: #e9e9e9;
    opacity: 0.89;
    z-index: 1;
}